.loginpage{
	align-items: center;
	display: flex;
	height: 50vh;
	justify-content: center;
	width: 100vw;
}

.login-form{
	border-radius: 10px;
	border: 1px solid #755A38;
	box-shadow: 0 0 12px #aaa;
	padding: 30px 70px;
}

#butonul_login {
    width: 10rem;
    height:5rem;
    margin-top:3rem;
}
form > p {
    padding:0 auto;
    font-size:18px;

}

div.polaroid1 {
  text-align:center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:95%;
  margin:0 auto;
  padding-top: 50px;
  margin-top:70px;
  padding-bottom:50px;
}


div.polaroid {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:0 auto;
  padding-top: 50px;
  margin-top:70px;
  padding-bottom:50px;
  width:95%;

}


div.container {
  padding: 10px;
  width:auto;
}

#logo{
    height:135%;
    width:4em;
}

.text_centrat{
    text-align:center;
    padding-top:5rem;
}

#buton_logare_initial{
    width:20rem;
    height:10rem;
}

#text_buton_login{
    font-size:3.5rem;
}

#logo_login{
   width:25%;
   height:25%;
}

#buton_logare_secundar{
    width:75%;
}

#text_buton_login2 {
   font-size:18px;
}
#div_logo_login{
    text-align:center;
    margin-top:9%;
}


.nav {
  
  margin: auto;
  padding: 0.6em;
  position: relative;
  
  display: inline-block;
}

p>label{
    width:25%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    right:20%;
    text-align:center;

}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
  
}

.adaugare_contract {
  cursor: pointer;
  display: inline-block;
  padding: 1em;
  margin-left:30px;
  margin-right:30px;
  text-align: center;
  transition: background-color 0.2s;
  width: 4.5em;
  text-decoration: none;

}

.adauga{
  cursor:pointer;
}

.dropdown-content a {
  color: #FB9612;
  display: block;
  padding: 1em 1.5em;
  margin: auto;
  text-decoration: none;

}

#adaugapopup .modal-dialog{
    margin-left:25%;
    margin-top:5%;
    width:50%;
}

#adaugapopup .modal-body{
    height:13.5em;
    text-align:center;
}

.alegeri{
    font-family:helvetica,sans-serif;
    font-size:2em;
    display:inline-block;
}

.alegeri a{
    margin-top:1%;
    text-decoration:none;
    transition:all 0.5s;
    color:black;
}

.alegeri a:hover{
    font-size:2.2em;
    text-decoration:none;
}

.alegeri a:focus{
    text-decoration:none;
}